@page "/"

<PageTitle>RSS Feeds</PageTitle>

<h1>Welcome!</h1>

<p>Configure RSS Feeds by clicking  <a href="/configurefeeds">Configure Feeds</a> in the navigation menu.</p>

<p>View RSS Feeds by clicking  <a href="/viewfeeds">Feed Viewer</a> in the navigation menu.</p>

