@page "/viewfeeds"

@using ExploreGetRssFeed.Models
@using ExploreGetRssFeed.Services
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.QuickGrid

@inject ILogger<ViewFeeds> _logger
@inject IRssDataAccess _rssDataAccess
@inject NavigationManager NavManager

@rendermode InteractiveServer

<h3>Your Feeds</h3>

@if(Feeds is null)
{
    <p><em>Loading . . .</em></p>
}
else
{
    <p>Click a feed title to load recent feed items</p>

    <div class="container">
        <div class="col">
            <div class="row">
                @for (int idx = 0; idx < Feeds.Count(); idx++)
                {
                    var feed = Feeds.ElementAt(idx);
                    string feedNavRoute = $"{feed.BaseUrl}{feed.RouteName}";
                    <button type="button" @onclick="@(()=>HandleNavManager(feed))">@feed.Title</button>
                }
            </div>
        </div>
    </div>
}

@code {
    public IQueryable<FeedEntryModel>? Feeds { get; set; }

    private void HandleNavManager(FeedEntryModel feedEntryItem)
    {
        NavManager.NavigateTo(feedEntryItem.PathUrl);
    }

    protected override async void OnParametersSet()
    {
        _logger.LogInformation("OnParametersSet: Loading feeds from DB.");

        var feedModels = await _rssDataAccess.GetAllAsync();

        foreach(var feed in feedModels)
        {
            _logger.LogInformation(
                "Fetched FeedModel instance: {title}, {link}", 
                feed.Title, feed.RouteName);
        }

        Feeds = feedModels.AsQueryable<FeedEntryModel>();
    }
}
